<div class="centered-column">
  <div class="title-row">
    <div class="title-column">
      <h1><%= @event.title %></h1>
      <div><i class="fa-solid fa-guitar"></i> <%= link_to @event.act.name, act_path(@event.act) %></div>
      <div><i class="fa-solid fa-location-dot"></i> <%= link_to @event.venue.name, venue_path(@event.venue) %></div>
    </div>
    <div class="square-date-box">
      <p class="date-head"><%= @event.start_time.localtime.strftime('%d %b') %></p>
      <p class ="time-head"><%= @event.local_start_time %> - <%= @event.local_end_time %></p>
    </div>
  </div>
  <div class="event-show-grid"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="rsvp-block rounded sticky">
      <h2 class="orange-ul">RSVP</h2>
      <% if @event.user_count == 0 %>
        <div>
          <p>No one is attending yet.</p>
          <p>Be the first to RSVP!</p>
        </div>
      <% else %>
        <p><%= @event.user_count %> Attending</p>
      <% end %>
      <% if @event.users.include?(current_user) %>
        <%= link_to "Cancel", remove_attend_path(@event), class: "button-wide button-pink" %>
      <% else %>
        <%= link_to "Attend", add_attend_path(@event), class: "button-wide button-green"%>
      <% end %>

    </div>
    <div class="about-block">
      <h2 class="orange-ul">About</h2>
      <p><%= @event.description %></p>
    </div>
    <div class="extra-block">
      <h2 class="orange-ul">Meet the act!</h2>
      <p><%= @event.act.description %></p>
    </div>
    <div id="map" class="map-block rounded" data-map-target="map"></div>
  </div>
</div>
