<div class="centered-column wide-column">
  <h1><%= @act.name %></h1>
  <p><%= @act.follower_count %> Following</p>
  <% if @act.users.include?(current_user) %>
    <%= link_to "Unfollow", remove_favorite_path(@act) %>
  <% else %>
    <%= link_to "Follow", add_favorite_path(@act) %>
  <% end %>
  <ul class="events">
    <% @act.events.each do |event| %>
      <li><%= event.title %></li>
    <% end %>
  </ul>
</div>
